<a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 focus:z-50 focus:px-4 focus:py-2 focus:bg-primary focus:text-primary-content focus:rounded">
  {{ partial "i18n-term.html" (dict "key" "skip_to_content") }}
</a>
<a href="#site-navigation" class="sr-only focus:not-sr-only focus:absolute focus:top-4 focus:left-4 focus:z-50 focus:px-4 focus:py-2 focus:bg-primary focus:text-primary-content focus:rounded">
  {{ partial "i18n-term.html" (dict "key" "skip_to_navigation") }}
</a>
